*, *::before {
  box-sizing: border-box;
}

:root {
  --color1: #fa6f49;
  --color2: #4abdac;
  --color3: #f7b733;
  --color5: #cacf85;
  --color4: #8cba80;
}

p {
  margin: 0;
}

h1 {
  font-size: inherit;
}

body {
  display: grid;
  margin: 0;
  overflow-x: hidden;

  font-size: calc(18px + 1.14vw);
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
  font-weight: 300;

  grid-template-areas: "strip-1"
                       "strip-2"
                       "strip-3"
                       "strip-4"
                       "strip-5";
}


a {
  text-decoration: none;
  color: white;
  background-color: rgba(0,0,0,0.2);
  padding: 0 2px;
  border-radius: 4px;

  animation: all ease 0.3s;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.strip {
  display: grid;
  grid-template-rows: 80px 1fr;
  align-items: center;
  position: relative;

  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: both;

  padding: 1em 1em 1.6em;
  text-align: center;
}

.strip:nth-child(1) {
  background-color: var(--color1);
  transform: translate3d(-100%, 0, 0);
  animation-name: strip1;
  animation-delay: 0.1s;

  grid-area: strip-1;
}

.strip:nth-child(2) {
  background-color: var(--color2);
  transform: translate3d(0, 100%, 0);
  animation-name: strip2;
  animation-delay: 0.2s;

  grid-area: strip-2;
}

.strip:nth-child(3) {
  background-color: var(--color3);
  transform: translate3d(0, -100%, 0);
  animation-name: strip3;
  animation-delay: 0.3s;

  grid-area: strip-3;
}

.strip:nth-child(4) {
  background-color: var(--color4);
  transform: translate3d(0, 100%, 0);
  animation-name: strip4;
  animation-delay: 0.4s;

  grid-area: strip-4;
}

.strip:nth-child(5) {
  background-color: var(--color5);
  transform: translate3d(100%, 0, 0);
  animation-name: strip5;
  animation-delay: 0.5s;

  grid-area: strip-5;
}

.strip::before {
  content: none;
  left: -12px;
  position: absolute;
  width: 6px;
  height: 100vh;
  animation-name: stripLine;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: both;
}

.strip:nth-child(2)::before {
  background-color: var(--color2);
  animation-delay: 0.9s;
}

.strip:nth-child(3)::before {
  background-color: var(--color3);
  animation-delay: 1.1s;
}

.strip:nth-child(4)::before {
  background-color: var(--color4);
  animation-delay: 1.3s;
}

.strip:nth-child(5)::before {
  background-color: var(--color5);
  animation-delay: 1.5s;
}

.strip__title {
  /* text-transform: uppercase; */
  transform: rotate3d(0, 0, 1, -4deg);
  font-size: 3rem;
  letter-spacing: -1px;
  font-family: "Yellowtail";
}



@media screen and (min-width: 900px) {
  body {
    height: 100vh;
    grid-template-columns: 1fr 1.3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "strip-1 strip-2 strip-3"
                         "strip-4 strip-2 strip-5";
  }

  .strip {
    padding: 0.4em 1em 0;
  }
}

@media screen and (min-width: 1400px) {
  body {
    grid-template-columns: 0.9fr 1.618fr 1.2fr 1.5fr 1.2fr;
    grid-template-areas: "strip-1 strip-2 strip-3 strip-4 strip-5";
  }

  .strip {
    height: 100vh;
    padding: 0.8em 1em 0 0.8em;
  }

  .strip::before {
    content: ""
  }
}


@keyframes stripLine {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes strip1 {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes strip2 {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes strip3 {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes strip4 {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes strip5 {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}